<script src="custom/include/javascript/bootstrap-switch.min.js"></script>
<link rel="stylesheet" href="custom/include/css/bootstrap-switch.min.css" />
<style>
  li.select2-search-choice {
    padding-left: 5px !important;
  }
  .field-required {
    outline: 1px solid red;
  }
</style>
<div class="row-fluid" id="content" style="overflow-y: auto; overflow-x: hidden; background: #fff; ">  
  	<div id="merge-and-sign-container">		
	</div>  
</div>